<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div id="search-results-title" class="input-group">
            Search for
            <input type="search" placeholder="all files" ng-model="searchTerm.name" />
            in your documents:
        </div>
        <ul class="search-results list-group">
            <li data-ng-repeat="item in searchList | filter:searchTerm">
                <a href="{{item.link}}" target="_blank">
                    <i class="{{item.isWord ? 'icon-icomoon-file-word': 'icon-icomoon-file-excel'}}"></i> <span class="name">{{item.name}}</span>
                </a>
                <div>
                    <span class="info">{{item.size | bytes}}</span> -
                    <span class="info">Last Modified by {{item.lastModifiedBy}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
